---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre mi";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="font-bold text-2xl">Sobre Mi</h1>
  <p class="mt-7 mb-5">Hola👋, soy Gianluca, programador argentino.</p>
  <p class="mb-5">
    Casi todo lo que programo es en JS, pero últimamente me está llamando la
    atención el no-code💻.
  </p>
  <p class="mb-5">
    A veces hago streams en <a
      class="underline font-bold"
      href="https://www.twitch.tv/giannidona"
      target="_blank">twitch</a
    > creando proyectos o aprendiendo📖.
  </p>
  <p>
    Mi hobby es ser dj, te dejo mi <a
      class="underline font-bold"
      href="twitch.tv/giannidonaa"
      href="https://soundcloud.com/gianlucadonato"
      target="_blank">soundcloud</a
    > por si quieres escuchar algunos de mis sets.
  </p>
</BaseLayout>
