---
import Header from "../components/Header.astro";
const pageTitle = "Contacto";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="w-7/12 mx-auto mt-12 bg-orange-200">
    <Header />
  </body>
</html>
