---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="w-7/12 mx-auto mt-12 bg-orange-200	">
		<section class="text-right">
			<h1 class="font-semibold">giannidona</h1>
			<p class="mb-10">newsletter</p>
			<a class="ml-2" href="/">Inicio</a>
			<a class="ml-2" href="/about/">Sobre Mi</a>
			<a class="ml-2" href="/about/">Contacto</a>
		</section>
	</body>
</html>
