---

---

<footer class="flex justify-between mt-10 text-sm">
  <div>
    <p>desde 2024</p>
  </div>
  <div>
    <a class="pl-2" href="https://twitter.com/giannidona_dev" target="_blank"
      >x</a
    >
    <a class="pl-2" href="https://github.com/giannidona" target="_blank"
      >github</a
    >
    <a
      class="pl-2"
      href="https://www.linkedin.com/in/gianidonato/"
      target="_blank">linkedin</a
    >
    <a class="pl-2" href="https://gianluca-donato.vercel.app/" target="_blank"
      >portfolio</a
    >
  </div>
</footer>
